Repository ronarae/ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  script:
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-be-app-staging.git || true
  - git subtree split --prefix mudjeansserver -b splitting-staging-be12
  ...

deploy_fe:
  stage: deploy
  script:
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-fe-app-staging.git || true
  - git subtree split --prefix mudjeans -b splitting-staging-fe12
  ...

Base of models built and added back-end implementation for the Jeans
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/Notification.java
  src/main/java/app/models/Order.java
  src/main/java/app/models/User.java
  src/main/java/app/rest/JeansController.java
Due: none

Veel changes
  src/main/java/app/models/JeansStock.java
  src/main/java/app/models/Notification.java
  src/main/java/app/models/Order.java
  src/main/java/app/models/OrderJean.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/JPARepositoryInterface.java
  src/main/java/app/repositories/NotificationMockRepository.java
  src/main/java/app/repositories/OrderMockRepository.java
  src/main/java/app/repositories/UserJPARepository.java
  src/main/java/app/repositories/UserMockRepository.java
  src/main/java/app/rest/JeansController.java
  src/main/java/app/rest/OrderController.java
  src/main/java/app/rest/UserController.java
Due: none

test heroku
  mudjeansserver/.gitignore
Due: deploy_be

nog een test fml
  mudjeans/src/app/components/managejeans/managejeansoverview.component.html
Due: deploy_fe

Jeans update
  mudjeansserver/src/main/java/app/models/Jeans.java
  mudjeansserver/src/main/java/app/repositories/JeansMockRepository.java
Due: deploy_be

file upload wip
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
  mudjeansserver/src/main/java/app/services/StorageService.java
  src/main/java/app/MudjeansserverApplication.java
  src/main/java/app/rest/FileUploadController.java
Due: deploy_be

gitignore
  .gitignore
  mudjeans/package-lock.json
  mudjeans/package.json
Due: deploy_fe

file push again
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
  mudjeans/src/app/services/file-upload.service.ts
Due: deploy_fe

Auto stash before merge of "master" and "origin/master"
  mudjeans/package-lock.json
  mudjeansserver/pom.xml
Due: deploy_be, deploy_fe

map fix
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeans/src/environments/environment.ts
  mudjeansserver/pom.xml
  pom.xml
  src/main/java/app/APIConfig.java
  src/main/java/app/MudjeansserverApplication.java
  src/main/java/app/ServletInitializer.java
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/Notification.java
  src/main/java/app/models/Order.java
  src/main/java/app/models/OrderJean.java
  src/main/java/app/models/UploadFileResponse.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/JPARepositoryInterface.java
  src/main/java/app/repositories/JeansJPARepository.java
  src/main/java/app/repositories/JeansMockRepository.java
  src/main/java/app/repositories/NotificationMockRepository.java
  src/main/java/app/repositories/OrderJPARepository.java
  src/main/java/app/repositories/OrderMockRepository.java
  src/main/java/app/repositories/RepositoryInterface.java
  src/main/java/app/repositories/UserJPARepository.java
  src/main/java/app/repositories/UserMockRepository.java
  src/main/java/app/rest/AuthController.java
  src/main/java/app/rest/FileUploadController.java
  src/main/java/app/rest/JeansController.java
  src/main/java/app/rest/OrderController.java
  src/main/java/app/rest/UserController.java
  src/main/java/app/security/JWTokenInfo.java
  src/main/java/app/security/JWTokenRequestFilter.java
  src/main/java/app/security/JWTokenUtils.java
  src/main/java/app/security/PasswordEncoder.java
  src/main/java/app/services/StorageException.java
  src/main/java/app/services/StorageService.java
  src/main/resources/application.properties
  src/test/java/app/MudjeansserverApplicationTests.java
Due: deploy_be, deploy_fe

file upload
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
  mudjeansserver/src/main/java/app/services/StorageService.java
Due: deploy_be

inloggen
  mudjeans/package-lock.json
  mudjeans/package.json
  mudjeans/src/app/app-routing.module.ts
  mudjeans/src/app/components/mainpage/header/header.component.html
  mudjeans/src/app/components/mainpage/header/header.component.ts
  mudjeans/src/app/components/mainpage/login/login.component.html
  mudjeans/src/app/components/mainpage/login/login.component.ts
  mudjeans/src/app/components/mainpage/wrapper/wrapper.component.html
  mudjeans/src/app/components/mainpage/wrapper/wrapper.component.ts
  mudjeans/src/app/models/User.ts
  mudjeans/src/app/services/auth-interceptor.ts
  mudjeans/src/app/services/session-sb.service.spec.ts
  mudjeans/src/app/services/session-sb.service.ts
Due: deploy_fe

inloggen backend
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/rest/AuthController.java
Due: deploy_be

tokenshit helemaal af
  mudjeans/src/app/components/mainpage/header/header.component.html
  mudjeans/src/app/components/mainpage/header/header.component.ts
  mudjeans/src/app/components/mainpage/wrapper/wrapper.component.html
  mudjeans/src/app/components/mainpage/wrapper/wrapper.component.ts
  mudjeans/src/app/services/auth-interceptor.ts
  mudjeans/src/app/services/session-sb.service.ts
Due: deploy_fe

Read xlsx file in backend
  Sales Analysis HvA.xlsx
  mudjeans/package-lock.json
  mudjeans/package.json
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be, deploy_fe

front-end table with pages and filtering
  mudjeans/angular.json
  mudjeans/package-lock.json
  mudjeans/package.json
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.css
  mudjeans/src/app/components/managejeans/managejeansoverview.component.html
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/models/Jean.ts
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeans/src/app/services/session-sb.service.ts
  mudjeans/src/index.html
  mudjeans/src/styles.css
  mudjeansserver/pom.xml
Due: deploy_be, deploy_fe

Voorlopige managejean
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.html
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
Due: deploy_fe

edit add modal
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.html
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/services/sales-sb.service.ts
Due: deploy_fe

add delete naar database
  mudjeans/package-lock.json
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeansserver/src/main/java/app/repositories/JeansJPARepository.java
  mudjeansserver/src/main/java/app/rest/JeansController.java
Due: deploy_be, deploy_fe

put request error bijgewerkt
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/services/sales-sb.service.ts
Due: deploy_fe

working on should order
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeansserver/src/main/java/app/models/Jeans.java
Due: deploy_be, deploy_fe

Change for fixing bool values
  mudjeansserver/src/main/java/app/models/Jeans.java
Due: deploy_be

view updated en color coded managejeans
  mudjeans/src/app/components/managejeans/managejeansoverview.component.css
  mudjeans/src/app/components/managejeans/managejeansoverview.component.html
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/services/sales-sb.service.ts
Due: deploy_fe

calculatetotals
  mudjeansserver/Sales Analysis HvA.xlsx
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be

loading manage jeans
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.html
Due: deploy_fe

admin panel. add werkt nog niet en de users laden pas als je er op klikt
  mudjeans/package-lock.json
  mudjeans/package.json
  mudjeans/src/app/app-routing.module.ts
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/adminpanel/adminpanel.component.css
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
  mudjeans/src/app/components/adminpanel/adminpanel.component.spec.ts
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.html
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  mudjeans/src/app/models/User.ts
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeans/src/app/services/session-sb.service.ts
  mudjeans/src/app/services/user-sb.service.spec.ts
  mudjeans/src/app/services/user-sb.service.ts
Due: deploy_fe

user changes
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be

calculate total sold for jeans
  mudjeans/package-lock.json
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be, deploy_fe

Calculating of orders done, only adding to database left
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/repositories/JeansJPARepository.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be

klein begin toastr notificaties
  mudjeans/angular.json
  mudjeans/package-lock.json
  mudjeans/package.json
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
  mudjeans/src/app/components/mainpage/login/login.component.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.html
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/components/orders/pending-order/pending-order.component.ts
  mudjeans/src/app/services/session-sb.service.ts
  mudjeans/src/styles.css
  mudjeansserver/src/main/java/app/repositories/OrderMockRepository.java
Due: deploy_be, deploy_fe

user fix
  mudjeans/src/app/components/mainpage/login/login.component.ts
  mudjeans/src/app/services/session-sb.service.ts
Due: deploy_fe

Automatic orders adding to db
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be

orderhistory wip
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
Due: deploy_fe

System automatic ordering
  mudjeans/src/app/services/file-upload.service.ts
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be, deploy_fe

Remove unused param
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be

product code check
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be

create order (nog niet af)
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.html
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/components/orders/pending-order/pending-order.component.ts
  mudjeans/tslint.json
Due: deploy_fe

admin panel, password wekrt niet helemaal goed en frontend laat niet goed de eerste keer. Verder af
  mudjeans/package-lock.json
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
  mudjeans/src/app/components/mainpage/header/header.component.html
  mudjeans/src/app/components/mainpage/header/header.component.ts
  mudjeans/src/app/components/mainpage/login/login.component.ts
  mudjeans/src/app/services/session-sb.service.ts
  mudjeans/src/app/services/user-sb.service.ts
Due: deploy_fe

admin panel user changes
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be

Automatic ordering (back-end)
  Kopie van Sales Analysis HvA.xlsx
  Sales Analysis HvA(1).xlsx
  Sales_Analysis_HvA_testfile.xlsx
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/models/OrderJean.java
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/repositories/OrderMockRepository.java
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be

Path conditions:
  deploy_be: any of: mudjeansserver/**/*
  deploy_fe: any of: mudjeans/**/*
