Repository ronarae/ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

stages:
  - deploy

deploy_be:
  stage: deploy
  only:
    refs:
      - staging
    changes:
      - "mudjeansserver/**/*"
  script:
    - git remote rm heroku-be-app || true
    - git remote add heroku-be-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-be-app-staging.git || true
    - git subtree split --prefix mudjeansserver -b splitting-staging-be12
    - git push --force heroku-be-app splitting-staging-be12:master
    - git branch -D splitting-staging-be12

deploy_fe:
  stage: deploy
  only:
    refs:
      - staging
    changes:
      - "mudjeans/**/*"
  script:
    - git remote rm heroku-fe-app || true
    - git remote add heroku-fe-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-fe-app-staging.git || true
    - git subtree split --prefix mudjeans -b splitting-staging-fe12
    - git push --force heroku-fe-app splitting-staging-fe12:master
    - git branch -D splitting-staging-fe12

add dependency
  mudjeans/angular.json
  mudjeans/package.json
  mudjeans/src/index.html
Due: deploy_fe

push
  mudjeans/package-lock.json
Due: deploy_fe

script for xlsx
  mudjeans/angular.json
  mudjeans/package-lock.json
  mudjeans/package.json
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
Due: deploy_fe

H2 database en fixes ervoor
  mudjeansserver/src/main/java/app/models/Jeans.java
  mudjeansserver/src/main/java/app/models/JeansStock.java
  mudjeansserver/src/main/java/app/models/Notification.java
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/models/OrderJean.java
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/JeansJPARepository.java
  mudjeansserver/src/main/java/app/repositories/JeansMockRepository.java
  mudjeansserver/src/main/resources/application.properties
Due: deploy_be

test commit heroku
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
Due: deploy_fe

test
  mudjeans/angular.json
Due: deploy_fe

test
  mudjeans/package-lock.json
Due: deploy_fe

PUUUSH
  mudjeans/angular.json
Due: deploy_fe

fixed heroku
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
Due: deploy_fe

changes
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/models/Jean.ts
  mudjeans/src/app/models/jean.ts
  mudjeans/src/app/services/sales-sb.service.spec.ts
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeans/src/app/services/sales.service.spec.ts
  mudjeans/src/app/services/sales.service.ts
  mudjeansserver/src/main/java/app/APIConfig.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be, deploy_fe

Back-end met Jason Web Token
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/models/Notification.java
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/rest/AuthController.java
  mudjeansserver/src/main/java/app/security/JWTokenInfo.java
  mudjeansserver/src/main/java/app/security/JWTokenRequestFilter.java
  mudjeansserver/src/main/java/app/security/JWTokenUtils.java
  mudjeansserver/src/main/java/app/security/PasswordEncoder.java
  mudjeansserver/src/main/resources/application.properties
Due: deploy_be

Coupling database and small changes for error fixing
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/models/Jeans.java
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/JeansJPARepository.java
  mudjeansserver/src/main/java/app/rest/JeansController.java
  mudjeansserver/src/main/java/app/security/JWTokenUtils.java
  mudjeansserver/src/main/resources/application.properties
Due: deploy_be

file
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
  mudjeans/src/app/services/file-upload.service.spec.ts
  mudjeans/src/app/services/file-upload.service.ts
  mudjeansserver/src/main/java/app/models/UploadFileResponse.java
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
  mudjeansserver/src/main/java/app/rest/JeansController.java
  mudjeansserver/src/main/java/app/services/StorageException.java
  mudjeansserver/src/main/java/app/services/StorageService.java
Due: deploy_be, deploy_fe

test
  mudjeans/src/app/components/managejeans/managejeansoverview.component.html
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/models/Jean.ts
Due: deploy_fe

heroku test
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/services/sales.service.ts
  mudjeans/src/environments/environment.ts
Due: deploy_fe

java15
  system.properties
Due: none

heroku test
  .gitignore
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  pom.xml
  src/main/java/app/MudjeansserverApplication.java
  src/main/java/app/ServletInitializer.java
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/Notification.java
  src/main/java/app/models/Order.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/JeansMockRepository.java
  src/main/java/app/repositories/JeansRepository.java
  src/main/java/app/rest/JeansController.java
  src/main/resources/application.properties
  src/test/java/app/MudjeansserverApplicationTests.java
Due: none

some changes
  src/main/java/app/rest/JeansController.java
Due: none

pipeline
  pom.xml
Due: none

pom
  pom.xml
Due: none

push
  pom.xml
Due: none

package
  pom.xml
Due: none

test?
  pom.xml
Due: none

pom.xml
  pom.xml
Due: none

sys
  system.properties
Due: none

14
  pom.xml
  system.properties
Due: none

initial commit back-end
  pom.xml
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/Notification.java
  src/main/java/app/models/Order.java
  src/main/java/app/models/User.java
  src/main/resources/application.properties
Due: none

H2 database en fixes ervoor
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/JeansStock.java
  src/main/java/app/models/Notification.java
  src/main/java/app/models/Order.java
  src/main/java/app/models/OrderJean.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/JeansJPARepository.java
  src/main/java/app/repositories/JeansMockRepository.java
  src/main/resources/application.properties
Due: none

Coupling database and small changes for error fixing
  pom.xml
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/JeansJPARepository.java
  src/main/java/app/rest/JeansController.java
  src/main/java/app/security/JWTokenUtils.java
  src/main/resources/application.properties
Due: none

file
  src/main/java/app/models/UploadFileResponse.java
  src/main/java/app/rest/FileUploadController.java
  src/main/java/app/rest/JeansController.java
  src/main/java/app/services/StorageException.java
  src/main/java/app/services/StorageService.java
Due: none

sendEmail af met een gmail account
  pom.xml
  src/main/java/app/models/Notification.java
Due: none

added some
  src/main/java/app/models/Order.java
  src/main/java/app/repositories/JeansJPARepository.java
  src/main/java/app/repositories/OrderJPARepository.java
  src/main/java/app/repositories/UserJPARepository.java
  src/main/java/app/rest/UserController.java
Due: none

Back-end met Jason Web Token
  pom.xml
  src/main/java/app/models/Notification.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/UserJPARepository.java
  src/main/java/app/rest/AuthController.java
  src/main/java/app/security/JWTokenInfo.java
  src/main/java/app/security/JWTokenRequestFilter.java
  src/main/java/app/security/JWTokenUtils.java
  src/main/java/app/security/PasswordEncoder.java
  src/main/resources/application.properties
Due: none

mock repo for orders
  src/main/java/app/repositories/JeansMockRepository.java
  src/main/java/app/repositories/OrderMockRepository.java
Due: none

login routing
  src/main/java/app/rest/JeansController.java
Due: none

Generic interface for repositories
  src/main/java/app/models/Order.java
  src/main/java/app/repositories/JeansMockRepository.java
  src/main/java/app/repositories/JeansRepository.java
  src/main/java/app/repositories/RepositoryInterface.java
Due: none

tot nu toe
  pom.xml
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/JeansStock.java
  src/main/java/app/models/Order.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/JeansMockRepository.java
  src/main/java/app/repositories/OrderMockRepository.java
Due: none

changes
  src/main/java/app/APIConfig.java
  src/main/java/app/rest/UserController.java
Due: none

files and updates
  pom.xml
  src/main/java/app/models/Jeans.java
  src/main/java/app/models/User.java
  src/main/java/app/repositories/JeansJPARepository.java
  src/main/java/app/repositories/JeansMockRepository.java
  src/main/java/app/repositories/OrderJPARepository.java
  src/main/java/app/repositories/OrderMockRepository.java
  src/main/java/app/repositories/RepositoryInterface.java
  src/main/java/app/repositories/UserJPARepository.java
  src/main/java/app/repositories/UserMockRepository.java
  src/main/java/app/rest/JeansController.java
  src/main/java/app/rest/OrderController.java
  src/main/java/app/rest/UserController.java
Due: none
