Repository ronarae/ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  script:
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-be-app-staging.git || true
  - git subtree split --prefix mudjeansserver -b splitting-staging-be12
  ...

deploy_fe:
  stage: deploy
  script:
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-fe-app-staging.git || true
  - git subtree split --prefix mudjeans -b splitting-staging-fe12
  ...

systemdocumentation correct file
  README.md
Due: none

Pending adjustment fix, toastr everywhere instead of alerts
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
  mudjeans/src/app/components/mainpage/home/home.component.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.html
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
  mudjeans/src/app/models/Order.ts
  mudjeans/src/app/services/auth-interceptor.ts
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeans/src/app/services/sales.service.ts
  mudjeans/src/app/services/session-sb.service.ts
  mudjeans/src/app/services/user-sb.service.ts
  mudjeansserver/src/main/java/app/rest/OrderController.java
Due: deploy_be, deploy_fe

navbar manage jeans
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.html
Due: deploy_fe

push
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
Due: deploy_fe

test
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
Due: deploy_fe

test
  mudjeans/src/app/components/mainpage/home/home.component.ts
Due: deploy_fe

Dat email ding
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
  mudjeans/src/app/components/mainpage/home/home.component.ts
Due: deploy_fe

import fix, 4 failed
  mudjeans/debug.log
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/adminpanel/adminpanel.component.spec.ts
  mudjeans/src/app/components/mainpage/header/header.component.spec.ts
  mudjeans/src/app/components/mainpage/home/home.component.spec.ts
  mudjeans/src/app/components/mainpage/login/login.component.spec.ts
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.spec.ts
  mudjeans/src/app/components/mainpage/wrapper/wrapper.component.spec.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.spec.ts
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/components/orderhistory/orderhistory.component.spec.ts
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.spec.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.spec.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/components/uploadfile/uploadfile.component.spec.ts
  mudjeans/src/app/services/file-upload.service.spec.ts
  mudjeans/src/app/services/order.service.spec.ts
  mudjeans/src/app/services/sales-sb.service.spec.ts
  mudjeans/src/app/services/sales.service.spec.ts
  mudjeans/src/app/services/session-sb.service.spec.ts
  mudjeans/src/app/services/user-sb.service.spec.ts
Due: deploy_fe

debug.log added to git
  mudjeans/debug.log
Due: deploy_fe

2 errors in session-sb.service.ts gefixed Niet ingelogte user is niet null, maar new User()
  mudjeans/src/app/services/session-sb.service.ts
Due: deploy_fe

temporary fix
  mudjeans/src/app/components/mainpage/home/home.component.ts
Due: deploy_fe

all errors fixed
  mudjeans/src/app/app.component.spec.ts
Due: deploy_fe

tests made
  mudjeans/debug.log
  mudjeans/src/app/components/managejeans/managejeansoverview.component.spec.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.spec.ts
  mudjeansserver/src/test/java/app/TestByShan.java
Due: deploy_be, deploy_fe

debug.log ding weer
  mudjeans/debug.log
Due: deploy_fe

Jimi frontend tests
  mudjeans/src/app/components/orders/createorder/createorder.component.spec.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.spec.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/services/order.service.spec.ts
  mudjeans/src/app/services/order.service.ts
Due: deploy_fe

Front end testen Kaspar
  mudjeans/debug.log
  mudjeans/src/app/components/adminpanel/adminpanel.component.spec.ts
  mudjeans/src/app/components/mainpage/header/header.component.spec.ts
  mudjeans/src/app/components/mainpage/login/login.component.html
  mudjeans/src/app/components/mainpage/login/login.component.spec.ts
  mudjeans/src/app/services/session-sb.service.ts
Due: deploy_fe

BE test wang
  mudjeansserver/src/test/java/app/TestByWang.java
Due: deploy_be

test frontend rona
  mudjeans/debug.log
Due: deploy_fe

test frontend rona
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.spec.ts
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.html
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
Due: deploy_fe

test 4 push
  mudjeans/src/app/components/orders/createorder/createorder.component.spec.ts
Due: deploy_fe

BE tests Jimi
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
  mudjeansserver/src/main/resources/KopievanSalesAnalysisHvA.xlsx
  mudjeansserver/src/test/java/app/TestsByJimi.java
Due: deploy_be

Kaspar tests
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/rest/AuthController.java
  mudjeansserver/src/test/java/app/TestByKaspar.java
Due: deploy_be

fe tests
  mudjeans/debug.log
  mudjeans/src/app/components/mainpage/home/home.component.spec.ts
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.html
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.spec.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.spec.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.html
  mudjeans/src/app/components/orders/customize-order/customize-order.component.spec.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.spec.ts
Due: deploy_fe

fix tests
  mudjeans/src/app/components/orders/customize-order/customize-order.component.spec.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
Due: deploy_fe

fe + be test done
  mudjeans/src/app/services/session-sb.service.spec.ts
  mudjeansserver/src/test/java/app/TestByRona.java
Due: deploy_be, deploy_fe

test push fe delete be unneeded code
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.spec.ts
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/services/session-sb.service.spec.ts
  mudjeansserver/src/test/java/app/TestByRona.java
Due: deploy_be, deploy_fe

Kaspar tests
  mudjeansserver/src/test/java/app/TestByKaspar.java
Due: deploy_be

fixes wrapper & navbar
  mudjeans/src/app/components/mainpage/login/login.component.spec.ts
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.spec.ts
  mudjeans/src/app/components/mainpage/wrapper/wrapper.component.spec.ts
  mudjeansserver/src/test/java/app/TestByKaspar.java
Due: deploy_be, deploy_fe

edited
  mudjeans/src/app/components/orderhistory/orderhistory.component.spec.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.spec.ts
Due: deploy_fe

readme update
  README.md
  mudjeansserver/src/main/java/app/rest/OrderController.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be

Path conditions:
  deploy_be: any of: mudjeansserver/**/*
  deploy_fe: any of: mudjeans/**/*
