Repository ronarae/ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

stages:
  - deploy

deploy_be:
  stage: deploy
  only:
    refs:
      - staging
    changes:
      - "mudjeansserver/**/*"
  script:
    - git remote rm ewa-be-app-staging || true
    - git remote add ewa-be-app-staging https://heroku:$HEROKU_API_KEY@git.heroku.com/ewa-be-app-staging.git || true
    - git subtree split --prefix mudjeansserver -b splitting-staging-be
    - git push --force ewa-be-app-staging splitting-staging-be:master
    - git branch -D splitting-staging-be

deploy_fe:
  stage: deploy
  only:
    refs:
      - staging
    changes:
      - "mudjeans/**/*"
  script:
    - git remote rm ewa-fe-app-staging || true
    - git remote add ewa-fe-app-staging https://heroku:$HEROKU_API_KEY@git.heroku.com/ewa-fe-app-staging.git || true
    - git subtree split --prefix mudjeans -b splitting-staging-fe
    - git push --force ewa-fe-app-staging splitting-staging-fe:master
    - git branch -D splitting-staging-fe

push
  .gitlab-ci.yml
  mudjeans/package.json
  mudjeansserver/pom.xml
Due: deploy_be, deploy_fe

push
  .gitlab-ci.yml
  mudjeans/angular.json
Due: deploy_fe

java15
  mudjeansserver/system.properties
Due: deploy_be

pipeline
  .gitlab-ci.yml
  mudjeans/dist/mudjeans/assets/images/login.png
  mudjeans/dist/mudjeans/assets/images/logo-mud.png
  mudjeans/dist/mudjeans/assets/images/logo-mudjeans.png
  mudjeans/dist/mudjeans/assets/images/mudjeans.jpg
  mudjeans/dist/mudjeans/assets/images/mudjeans2.jpg
  mudjeans/dist/mudjeans/assets/images/mudjeans3.jpg
  mudjeans/dist/mudjeans/favicon.ico
  mudjeans/dist/mudjeans/index.html
  mudjeans/dist/mudjeans/main-es2015.js
  mudjeans/dist/mudjeans/main-es2015.js.map
  mudjeans/dist/mudjeans/main-es5.js
  mudjeans/dist/mudjeans/main-es5.js.map
  mudjeans/dist/mudjeans/polyfills-es2015.js
  mudjeans/dist/mudjeans/polyfills-es2015.js.map
  mudjeans/dist/mudjeans/polyfills-es5.js
  mudjeans/dist/mudjeans/polyfills-es5.js.map
  mudjeans/dist/mudjeans/runtime-es2015.js
  mudjeans/dist/mudjeans/runtime-es2015.js.map
  mudjeans/dist/mudjeans/runtime-es5.js
  mudjeans/dist/mudjeans/runtime-es5.js.map
  mudjeans/dist/mudjeans/scripts.js
  mudjeans/dist/mudjeans/scripts.js.map
  mudjeans/dist/mudjeans/styles-es2015.js
  mudjeans/dist/mudjeans/styles-es2015.js.map
  mudjeans/dist/mudjeans/styles-es5.js
  mudjeans/dist/mudjeans/styles-es5.js.map
  mudjeans/dist/mudjeans/vendor-es2015.js
  mudjeans/dist/mudjeans/vendor-es2015.js.map
  mudjeans/dist/mudjeans/vendor-es5.js
  mudjeans/dist/mudjeans/vendor-es5.js.map
  mudjeansserver/pom.xml
Due: deploy_be, deploy_fe

correcte pipeline
  .gitlab-ci.yml
Due: none

sorry for spam
  .gitlab-ci.yml
Due: none

14
  mudjeansserver/pom.xml
  mudjeansserver/system.properties
Due: deploy_be

change
  mudjeans/package.json
Due: deploy_fe

angular json
  mudjeans/angular.json
Due: deploy_fe

sys
  mudjeansserver/system.properties
Due: deploy_be

pom
  mudjeansserver/pom.xml
Due: deploy_be

pom.xml
  mudjeansserver/pom.xml
Due: deploy_be

gitlab-ci
  .gitlab-ci.yml
Due: none

package
  mudjeans/package.json
Due: deploy_fe

package
  .gitlab-ci.yml
Due: none

some changes
  mudjeans/src/environments/environment.prod.ts
  mudjeans/src/environments/environment.staging.ts
  mudjeans/src/environments/environment.ts
  mudjeansserver/src/main/java/app/rest/JeansController.java
Due: deploy_be, deploy_fe

heroku api key
  .gitlab-ci.yml
Due: none

package
  mudjeansserver/pom.xml
Due: deploy_be

heroku login
  .gitlab-ci.yml
Due: none

delete browserlistrc
  mudjeans/.browserslistrc
Due: deploy_fe

tot nu toe
  mudjeans/src/app/components/mainpage/login/login.component.html
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/models/Jeans.java
  mudjeansserver/src/main/java/app/models/JeansStock.java
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/JeansMockRepository.java
  mudjeansserver/src/main/java/app/repositories/OrderMockRepository.java
Due: deploy_be, deploy_fe

Veel changes
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.css
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.spec.ts
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
  mudjeansserver/src/main/java/app/models/JeansStock.java
  mudjeansserver/src/main/java/app/models/Notification.java
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/models/OrderJean.java
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/JPARepositoryInterface.java
  mudjeansserver/src/main/java/app/repositories/NotificationMockRepository.java
  mudjeansserver/src/main/java/app/repositories/OrderMockRepository.java
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/repositories/UserMockRepository.java
  mudjeansserver/src/main/java/app/rest/JeansController.java
  mudjeansserver/src/main/java/app/rest/OrderController.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be, deploy_fe

files and updates
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/models/Jeans.java
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/JeansJPARepository.java
  mudjeansserver/src/main/java/app/repositories/JeansMockRepository.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/repositories/OrderMockRepository.java
  mudjeansserver/src/main/java/app/repositories/RepositoryInterface.java
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/repositories/UserMockRepository.java
  mudjeansserver/src/main/java/app/rest/JeansController.java
  mudjeansserver/src/main/java/app/rest/OrderController.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be

added some
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/repositories/JeansJPARepository.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be

start read uploaded file
  mudjeans/src/app/app-routing.module.ts
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
Due: deploy_fe

sendEmail af met een gmail account
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/models/Notification.java
Due: deploy_be

juiste kolommen weergeven
  mudjeans/src/app/components/uploadfile/uploadfile.component.css
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
Due: deploy_fe

code aanpassing excel inlezen
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
Due: deploy_fe

import npm
  mudjeans/src/app/components/orders/createorder/createorder.component.html
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
Due: deploy_fe
