Repository ronarae/ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  script:
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-be-app-staging.git || true
  - git subtree split --prefix mudjeansserver -b splitting-staging-be12
  ...

deploy_fe:
  stage: deploy
  script:
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:2cacea79-b69f-40ba-b12d-f851f0ad0094@git.heroku.com/ewa-fe-app-staging.git || true
  - git subtree split --prefix mudjeans -b splitting-staging-fe12
  ...

small push
  mudjeans/src/app/components/orders/createorder/createorder.component.html
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
Due: deploy_fe

Front-end order model
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/models/Order.ts
Due: deploy_fe

Automatic email notification
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/models/Notification.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
  mudjeansserver/src/main/resources/application.properties
Due: deploy_be

adminpanel af! - 1 frontend dingetje
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
Due: deploy_fe

admin backend
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
Due: deploy_be

gebruikersnaam in header
  mudjeans/src/app/services/session-sb.service.ts
Due: deploy_fe

laatste fix voor user --> password aanpassen
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/rest/UserController.java
Due: deploy_be

Tussentijdse push voor back-end controller
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.css
  mudjeans/src/app/components/orders/customize-order/customize-order.component.html
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/services/order.service.spec.ts
  mudjeans/src/app/services/order.service.ts
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/models/OrderJean.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/OrderController.java
Due: deploy_be, deploy_fe

Modifying pending orders, with pagination for orderjeans
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.html
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
  mudjeans/src/app/models/Order.ts
  mudjeans/src/app/models/OrderJean.ts
  mudjeans/src/app/services/order.service.ts
Due: deploy_fe

Back-end for modifying pending orders
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/OrderController.java
Due: deploy_be

orderhistory almost nog modal
  mudjeans/src/app/components/orderhistory/orderhistory.component.css
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/models/Order.ts
  mudjeans/src/app/services/order.service.ts
  mudjeansserver/src/main/java/app/models/Order.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/OrderController.java
Due: deploy_be, deploy_fe

create manual orders
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.html
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/app/models/Order.ts
  mudjeans/src/app/services/order.service.ts
  mudjeansserver/src/main/java/app/models/User.java
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/rest/OrderController.java
Due: deploy_be, deploy_fe

orderhistory af!
  mudjeans/src/app/components/orderhistory/orderhistory.component.css
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
Due: deploy_fe

order history echt af!
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.css
  mudjeans/src/app/components/orders/customize-order/customize-order.component.html
Due: deploy_fe

frontend remove unused code and insert css
  mudjeans/package-lock.json
  mudjeans/src/app/components/orderhistory/orderhistory.component.css
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orders/customize-order/customize-order.component.css
  mudjeans/src/app/components/orders/customize-order/customize-order.component.html
  mudjeans/src/app/components/uploadfile/uploadfile.component.html
Due: deploy_fe

adminpanel fixed
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
Due: deploy_fe

fix dubbel order plaatsen en loaden admin panel users
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
  mudjeans/src/app/components/orders/createorder/createorder.component.ts
  mudjeans/src/app/models/OrderJean.ts
  mudjeansserver/src/main/resources/application.properties
Due: deploy_be, deploy_fe

small fix error
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
Due: deploy_fe

header en home verwijdert wat we niet gebruiken / pending orders en low stock zijn uit de database
  mudjeans/src/app/components/mainpage/header/header.component.html
  mudjeans/src/app/components/mainpage/home/home.component.html
  mudjeans/src/app/components/mainpage/home/home.component.ts
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.html
Due: deploy_fe

small fixed + remove window reload
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
Due: deploy_fe

error fix
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
Due: deploy_fe

reload add + delete
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
Due: deploy_fe

home heeft stock per style || moet nog in %
  mudjeans/src/app/components/mainpage/home/home.component.html
  mudjeans/src/app/components/mainpage/home/home.component.ts
Due: deploy_fe

Homepage stock per style
  mudjeans/src/app/components/adminpanel/adminpanel.component.ts
  mudjeans/src/app/components/mainpage/home/home.component.html
  mudjeans/src/app/components/mainpage/home/home.component.ts
Due: deploy_fe

remove pending order / update home
  mudjeans/src/app/app-routing.module.ts
  mudjeans/src/app/app.module.ts
  mudjeans/src/app/components/mainpage/home/home.component.html
  mudjeans/src/app/components/mainpage/nav-bar/nav-bar.component.html
  mudjeans/src/app/components/orders/pending-order/pending-order.component.css
  mudjeans/src/app/components/orders/pending-order/pending-order.component.html
  mudjeans/src/app/components/orders/pending-order/pending-order.component.spec.ts
  mudjeans/src/app/components/orders/pending-order/pending-order.component.ts
Due: deploy_fe

Exporting orders to csv files
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
  mudjeans/src/app/services/order.service.ts
  mudjeansserver/pom.xml
  mudjeansserver/src/main/java/app/models/OrderJeansWithIds.java
  mudjeansserver/src/main/java/app/repositories/OrderJPARepository.java
  mudjeansserver/src/main/java/app/rest/OrderController.java
Due: deploy_be, deploy_fe

remove forgot password
  mudjeans/src/app/components/mainpage/login/login.component.html
Due: deploy_fe

fix new user password
  mudjeansserver/src/main/java/app/repositories/UserJPARepository.java
  mudjeansserver/src/main/java/app/security/JWTokenRequestFilter.java
Due: deploy_be

password bolletjes
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
Due: deploy_fe

BACKEND url
  mudjeans/angular.json
  mudjeans/src/app/components/adminpanel/adminpanel.component.html
  mudjeans/src/app/services/file-upload.service.ts
  mudjeans/src/app/services/order.service.ts
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeans/src/app/services/session-sb.service.ts
  mudjeans/src/app/services/user-sb.service.ts
  mudjeans/src/environments/environment.prod.ts
  mudjeans/src/environments/environment.ts
Due: deploy_fe

add filter to orderhistory
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
Due: deploy_fe

BACKEND url en environments werken
  mudjeans/angular.json
  mudjeans/src/app/services/file-upload.service.ts
  mudjeans/src/app/services/order.service.ts
  mudjeans/src/app/services/sales-sb.service.ts
  mudjeans/src/app/services/session-sb.service.ts
  mudjeans/src/app/services/user-sb.service.ts
  mudjeans/src/environments/environment.staging.ts
Due: deploy_fe

mudjeans logo als tab icon
  mudjeans/src/index.html
Due: deploy_fe

test
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
  mudjeans/src/environments/environment.staging.ts
Due: deploy_fe

test
  mudjeans/src/environments/environment.staging.ts
  mudjeansserver/src/main/java/app/ServletInitializer.java
Due: deploy_be, deploy_fe

PUSHHH
  mudjeansserver/pom.xml
Due: deploy_be

upload file check
  mudjeans/src/app/components/uploadfile/uploadfile.component.ts
  mudjeans/src/app/services/file-upload.service.ts
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be, deploy_fe

Fix paginator
  mudjeans/src/app/components/managejeans/managejeansoverview.component.ts
  mudjeans/src/app/components/orders/customize-order/customize-order.component.ts
Due: deploy_fe

Readme update
  README.md
  Sales Analysis HvA(1).xlsx
  Sales Analysis HvA.xlsx
  Sales_Analysis_HvA_testfile.xlsx
  mudjeans/src/environments/environment.staging.ts
  mudjeansserver/Sales Analysis HvA.xlsx
  mudjeansserver/src/main/java/app/rest/FileUploadController.java
Due: deploy_be, deploy_fe

ReadMe systemdocumentation
  README.md
  mudjeans/src/app/components/orderhistory/orderhistory.component.html
  mudjeans/src/app/components/orderhistory/orderhistory.component.ts
Due: deploy_fe

Path conditions:
  deploy_be: any of: mudjeansserver/**/*
  deploy_fe: any of: mudjeans/**/*
